{{partial "navbar"}}
{{partial "search-bar"}}

<div class="row">
  {{#each filteredCams as |cam|}}
    <div class="col s12 m6 l3">
      <div class="card medium" {{action "toggleModal" cam}}>
        <div class="card-image">
          {{load-img src=cam.imageSource}}
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">{{cam.name}}</span>
          <p>{{cam.location}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large mdi-action-favorite"></i>
  </a>
  <ul>
    <li><a class="btn-floating grey darken-4" href="https://github.com/carloscheddar/trafficCamPR">
      {{fa-icon "github"}}
    </a></li>
    <li><a class="btn-floating light-blue" href="https://twitter.com/carloscheddar">
      {{fa-icon "twitter"}}
    </a></li>
  </ul>
</div>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
